backend/node_modules
ai-services/venv
venv/
Final_Augmented_dataset_Diseases_and_Symptoms.csv

# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Node
node_modules/

# Build folders
dist/
build/

# Database
*.sqlite

# OS
.DS_Store
Thumbs.db

# ML Models
*.pkl
models/

# ML models
ai-services/models/

# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Environment
.env

# Database
*.sqlite